body {
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
  }
  .Auth {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    flex-grow: 1;
    width: 100%;
  }
  .Auth div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
  }
  .Auth h1 {
    text-align: center;
    color: rgb(239, 227, 253);
  }
  .AuthForm {
      display: flex;
      flex-direction: column;
  } 
  .AuthForm input{
      margin-bottom: 15px;
      height: 25px;
  }
  .button{
      margin-bottom: 10px;
  }